<div class="container-fuild">
    <div>
        
        <header>
            <div>
                <!-- header  img-->
            </div>
            <div>
                <ul>
                    <li>How it works</li>
                    <li>Join Khontext</li>
                    <li>Help</li>
                </ul>
            </div>
        </header>

        <div>
            <h1>
                Overcome Language Barriers!
            </h1>
            <p>
                Khontext helps you quickly find a
                translator or job, create your schedule and
                don't miss out
            </p>
        </div>

    </div>
    <div>
        <!-- sidesection -->
    </div>
</div>

