<div class="main container">
    <div>
        <div class="parent_main">
            <button type="button" class="btn bttn red" name="red" [value]="value" (click)="changed1()"></button>
            <button type="button" class="btn bttn grey" name="grey" [value]="value" (click)="changed2()"></button>
            <br>
            <button type="button" class="btn bttn yellow" name="yellow" [value]="value" (click)="changed3()"></button>
            <button type="button" class="btn bttn pink" name="pink" [value]="value" (click)="changed4()"></button>  
        </div>
        <div class="span_m">
            <span class="span">Seleted Color:{{value}}</span>
        </div>


        <div>
            <label for="website" class="span">Select Child: </label>
            <select name="" (change)="changeValue($event)" >
                <option>Choose Child</option>
                <option value="child-1"> Child1</option>
                <option value="child-2"> Child2</option>
                <option value="child-3"> Child3</option>
                <option  value="child-4"> Child4</option>
            </select>
        </div> 
        <div>
            <button class="bnnt btn btn-danger" (click)="OnButtonCLick()">Click Me</button>  <br>
        </div>
          
    </div> 
  
    <div class="sub">   
        <div class="sub_1">
            <div>
                <app-child1 [DataValue]="data" (valueUpdate1)="updateChild1($event)"></app-child1><br>
            </div>
            <div>
                <app-child2 [DataValue]="data" (valueUpdate2)="updateChild2($event)"></app-child2><br>
            </div>
        </div>
        <div class="sub_2">
            <div>
                <app-child3 [DataValue]="data" (valueUpdate3)="updateChild3($event)"></app-child3><br>
            </div>
            <div>
                <app-child4 [DataValue]="data" (valueUpdate4)="updateChild4($event)"></app-child4><br>
            </div>
        </div>
    </div>
    </div>


     
  

