.bttn{
    font-size: 21px;
    border: none;
    padding: 31px 189px;
    margin-bottom: 5px;
}
.parent_main{
    width: 30%;
}
.red{
    background-color: indianred;
    color: white;
    /* margin-right: 80px; */
  
}
.grey{
    background-color: grey;
    color: white;
   
}
.span{
    font-size: 20px;
}
.pink{
    background-color: rgb(255,189,222);
    color: white;
   
}
.yellow{
    background-color: #ffc252;
    color: white;
    /* margin-right: 80px; */
}
.span_m{
    margin-top: 30px;
    margin-bottom: 30px;
}
.main{
    display: flex;
}
.bnnt{
    background-color: black;
    color: white;
    padding: 8px 19px;
    border: 1px solid white;
    margin-top: 24px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.bnnt:hover{
    color: black;
    background-color: #fff;
    border: 1px solid black;
}
.sub{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.sub_1{
    display: flex;
}
.sub_2{
    display: flex;
}