<div class="main container">
    <div>
        <div class="parent_main">
            <button type="button" class="btn bttn red" name="red" [value]="value" (click)="changed1()"></button>
            <button type="button" class="btn bttn grey" name="grey" [value]="value" (click)="changed2()"></button>
            <br>
            <button type="button" class="btn bttn yellow" name="yellow" [value]="value" (click)="changed3()"></button>
            <button type="button" class="btn bttn pink" name="pink" [value]="value" (click)="changed4()"></button>  
        </div>
        <div class="span_m">
            <span>Seleted Color:{{value}}</span>
        </div>
        <div>
            <label for="website">Child:</label>
            <select name="" (change)="changeValue($event)" >
                <option>Choose Child</option>
                <option value="child-1"> Child1</option>
                <option value="child-2"> Child2</option>
                <option value="child-3"> Child3</option>
                <option  value="child-4"> Child4</option>
            </select>
        </div> 
        <div class="">
            <button class="bnnt btn btn-danger" (click)="OnButtonCLick()">Click Me</button>  

        </div>   
    </div> 
  
    <div>
        <!-- <app-child1 [inputData1]="inputData1" [inputData2]="inputData2" [inputData3]="inputData3"  [inputData4]="inputData4"></app-child1> -->
        <!-- <app-child1 [DataValue]="data" *ngIf="isChildShow"></app-child1>
        <app-child2 [DataValue]="data" *ngIf="isChildShow"></app-child2> -->
        <app-child1 [DataValue]="data"></app-child1><br>
         <app-child2 [DataValue]="data"></app-child2><br>
        <app-child3 [DataValue]="data"></app-child3><br>
        <app-child4 [DataValue]="data"></app-child4><br>
    </div>
  

