
<div class="container-fuild">
    <div class="row">
       <div class="col">
        <div>
            <h4>gfgcgcf
                Our partners
            </h4>
        </div>
       </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="img">
                <img src="../../../assets/amazon-echo-logo.svg" alt="">
            </div>
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            
        </div>

    </div>
</div>
